<nav class="nav-global">
	<ul>

	<div class="logo"><a class="menu_link" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a></div>

	{% for section in site.data.docs %}
    <li style="color: #2980B9">{{ section.title }}</li>

    {% for item in section.docs %}

	  {% assign item_url = item | prepend:"/docs/" | append:"/" %}

	  {% if item_url == page.url %}
	    {% assign c = "active" %}
	  {% else %}
	    {% assign c = "" %}
	  {% endif %}


	  {% for p in site.docs %}
	  	{% if p.url == item_url %}
	      <li class="{{ c }}"><a class="menu_link" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
	      {% break %}
	    {% endif %}
	    
	  {% endfor %}

	{% endfor %}

    {% endfor %}

	</ul>
</nav>
			